version: "3.8"

services:
  backend:
    build: .
    ports:
      - "5001:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/aiv-voting
      - PORT=5000
    depends_on:
      - mongo
    networks:
      - app-network
    volumes:
      - .:/app
      - /app/node_modules
    command: npm run dev

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
