version: "3.8"

services:
  backend:
    build: .
    ports:
      - "5001:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/aiv-voting
      - PORT=5000
      - JWT_SECRET=${JWT_SECRET}
    depends_on:
      - mongo
    networks:
      - app-network
    volumes:
      - .:/app
      - /app/node_modules
    command: sh -c "node seed.js && npm run dev"

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db
    networks:
      - app-network

  cloudflared:
    image: cloudflare/cloudflared:latest
    command: tunnel --url http://backend:5000
    networks:
      - app-network
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data:
