.header {
  padding: 1rem;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 1.2rem;
}

.logo img {
  height: 40px;
}

.nav {
  display: flex;
  gap: 1rem;
}
